<% include partials/header %>

<h1><%= photo.name %></h1>
<img src='<%= photo.image %>'>
<p> <%= photo.desc %></p>

<% photo.comments.forEach(function(comment){ %>
    <p><%= comment.author %> - <%= comment.text %></p>
<% }) %>

<% include partials/footer %>